Dependencias del proyecto

node_modules/
npm-debug.log
yarn-error.log

Archivos de Entorno y Claves (CRÍTICO: No borrar de aquí)

serviceAccountKey.json
.env
transactions_temp.json

Archivos de sistema

.DS_Store
Thumbs.db
*.log